
/* code for preventing mouse blinking vertical line when user clicks on a pluls symbol */
.home-faq-accordion-plus-wrapper,
.home-proposition-box-button-plus{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* marquee */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.home-hero-marquee-content {
  animation: scroll 10s linear infinite;
}


/* our process tabs */
.home-process-tabs-menu {
  .home-process-tab-id{
    transition: all 0.2s;
  }
  .w--current .home-process-tab-id{
    color: #F8744C;
  }
  .home-process-tab-name{
    transition: all 0.2s;
  }
  .w--current .home-process-tab-name{
    color: #F8744C;
  }
} 

.section_home-courts .tab-content-cta{
	width: fit-content;
}

.main-wrapper{
  background-color:red;
}